In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Aktuelle Pfade
file_paths = [
     "data/rad_2022_tage_19_06_23_r.csv",
     "data/rad_2021_tage_19_06_23_r.csv",
     "data/rad_2020_tage_19_06_23_r.csv",
     "data/rad_2019_tage_19_06_23_r.csv",
     "data/rad_2018_tage_19_06_23_r.csv",
     "data/rad_2017_tage_19_06_23_r.csv",
     "data/rad_2016_tage_19_06_23_r.csv",
     "data/rad_2015_tage_19_06_23_r.csv",
     "data/rad_2014_tage_19_06_23_r.csv",
     "data/rad_2013_tage_19_06_23_r.csv",
     "data/rad_2012_tage_19_06_23_r.csv",
     "data/rad_2011_tage_19_06_23_r.csv",
     "data/rad_2010_tage_19_06_23_r.csv",
     "data/rad_2009_tage_19_06_23_r.csv",
     "data/rad_2008_tage_19_06_23_r.csv"
]

In [2]:
df2022 = pd.read_csv("data/rad_2022_tage_19_06_23_r.csv")

In [3]:
df2022.head()

,datum,zaehlstelle,uhrzeit_start,uhrzeit_ende,richtung_1,richtung_2,gesamt,min.temp,max.temp,niederschlag,bewoelkung,sonnenstunden,kommentar
0,2022-01-01,Arnulf,00:00,23:59,444.0,0.0,444.0,3.2,13.4,0.0,68,7.6,NaN
1,2022-01-02,Arnulf,00:00,23:59,476.0,0.0,476.0,1.9,15.8,0.0,80,4.7,NaN
2,2022-01-03,Arnulf,00:00,23:59,752.0,0.0,752.0,8.7,11.5,0.7,99,0.0,NaN
3,2022-01-04,Arnulf,00:00,23:59,603.0,0.0,603.0,3.7,16.5,10.3,98,1.0,NaN
4,2022-01-05,Arnulf,00:00,23:59,578.0,0.0,578.0,0.3,3.9,1.2,95,0.4,NaN

In [162]:
if (df2022['gesamt'] == 0).any():
    print("Es gibt mindestens einen Wert gleich 0 in der Spalte 'gesamt'.")
else:
    print("Es gibt keine Werte gleich 0 in der Spalte 'gesamt'.")

Es gibt mindestens einen Wert gleich 0 in der Spalte 'gesamt'.

In [153]:
if (df2022['gesamt'] == 0).any():
    print("Es gibt mindestens einen Wert gleich 0 in der Spalte 'gesamt'.")
    
    # Zeilen mit Null-Werten in der Spalte 'gesamt' löschen
    df2022 = df2022[df2022['gesamt'] != 0]
    
    print("Zeilen mit Null-Werten in der Spalte 'gesamt' wurden gelöscht.")
else:
    print("Es gibt keine Werte gleich 0 in der Spalte 'gesamt'.")

Es gibt mindestens einen Wert gleich 0 in der Spalte 'gesamt'.
Zeilen mit Null-Werten in der Spalte 'gesamt' wurden gelöscht.

In [163]:
df2022.head()

,datum,uhrzeit_start,uhrzeit_ende,zaehlstelle,richtung_1,richtung_2,gesamt,min.temp,max.temp,niederschlag,bewoelkung,sonnenstunden
0,2022-01-01,00:00,23.59,Arnulf,444,0,444,3.2,13.4,0.0,68,7.6
1,2022-01-02,00:00,23.59,Arnulf,476,0,476,1.9,15.8,0.0,80,4.7
2,2022-01-03,00:00,23.59,Arnulf,752,0,752,8.7,11.5,0.7,99,0.0
3,2022-01-04,00:00,23.59,Arnulf,603,0,603,3.7,16.5,10.3,98,1.0
4,2022-01-05,00:00,23.59,Arnulf,578,0,578,0.3,3.9,1.2,95,0.4

In [155]:
#df2022 = df2022.select_dtypes(include=['float64', 'int64', 'bool'])

In [156]:
#corr_matrix = df2022.corr(numeric_only=False)

In [169]:
corr_matrix

            richtung_1  richtung_2    gesamt  bewoelkung
richtung_1    1.000000    0.898606  0.973806   -0.299862
richtung_2    0.898606    1.000000  0.974833   -0.247505
gesamt        0.973806    0.974833  1.000000   -0.280630
bewoelkung   -0.299862   -0.247505 -0.280630    1.000000

In [165]:
corr_matrix["niederschlag"]

KeyError: 'niederschlag'

In [159]:
# Überprüfen, ob es in der Spalte 'Radfahrer' Werte gleich 0 gibt
if (df['gesamt'] == 0).any():
    print("Es gibt mindestens einen Wert gleich 0 in der Spalte 'gesamt'.")
else:
    print("Es gibt keine Werte gleich 0 in der Spalte 'gesamt'.")

Es gibt keine Werte gleich 0 in der Spalte 'gesamt'.